<div class="row blackFont">
	<div class="large-12 columns" >
		<h3><i class="foundicon-star"></i> Bienvenido</h3>

		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est asperiores maiores perspiciatis? Quam, culpa quas cumque excepturi illo necessitatibus accusamus eveniet sunt placeat alias? Voluptates, in illum accusamus odit quam.</div>

	<hr>
	</div>
	<div class="large-12 columns stats" >
		<h4>
			<div class="large-12"><i class="foundicon-graph"></i> Estadisticas</div>
		</h4>
		<div class="large-3 small-6 columns center">
			<center>15</center>
			<div>Usuarios Registrados</div>
		</div>
		<div class="large-3 small-6 columns center">
			<center>15</center>
			<div>Productos registrados</div>
		</div>
		<div class="large-3 small-6 columns center">
			<center>15</center>
			<div>Obras registradas</div>
		</div>
		<div class="large-3 small-6 columns center">
			<center>8</center>
			<div>Especialidades registradas</div>
		</div>
	</div>
</div>