<div  class="hideX">
	<div id="title"><h2>Empresa</h2></div>
	<div id="section1Cont" >

		<div id="especialidadesOrbit" class="shadow">
			<div class="prevSlider">
				<span class="entypo-left-dir"></span>
			</div>
			<div class="nextSlider">
				<span class="entypo-right-dir"></span>
			</div>
			<div class="large-12">
				<div class="slideshow-wrapper">
					<div class="preloader"></div>
					<ul data-orbit>
						<li>
							<img src="img/slider10.jpg" alt="slide image" >
						</li>
						<li>
							<img src="img/slider8.jpg" alt="slide image" >         
						</li>
						<li>
							<img src="img/slider6.jpg" alt="slide image" >
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<br>
<div class="row">
	<div class="large-9 columns ">
		<div class="large-12 columns panel">
			<div class="large-12 columns ">
				<h4>Climatización Especializada del Noreste, S.A. DE CV.</h4><hr>
				<p>Somos una empresa; Que se encarga del  suministro, instalación, reparación y mantenimiento de aires acondicionados en diferentes áreas y sectores de la industria del sector público y privado.</p>
				<p>Nuestro objetivo principal, es proporcionar soluciones que rebasen las expectativas de las necesidades 
					de su proyecto, basadas en la  calidad de nuestra mano de obra y maquinaria con el fin de ofrecer un 
					excelente servicio; como también satisfacer las exigencias del Mercado.</p>

				</div>

				<div class="large-4 columns ">
					<h5>Nuestra Identidad:</h5>
					<p>Compromiso, Trabajo en equipo, Eficacia y Resultados.</p>
				</div>
				<div class="large-4 columns ">
					<h5>Nuestra Misión:</h5>
					<p>Proveer a Nuestros clientes Calidad, Servicio Oportuno y Soluciones en Tiempo y forma, ya que para 
						Nosotros es primordial desempeñarnos De Una Manera Eficaz.</p>
					</div>
					<div class="large-4 columns ">
						<h5>Nuestra Visión:</h5>
						<p>Ser Una Empresa líder en la Instalación y Mantenimiento de aires acondicionados, Como Resultado de la 	Mejor Calidad y Mejora de Nuestros Sistemas y Procedimientos de Trabajo.</p>


						</div>
					</div>


					<div class="large-12 columns panel">
						<p>Sin duda, estamos capacitados para desempeñarnos de manera responsable, opotuna e inmediata.</p>
					</div>
					<br>
				</div>

				<div class="large-3 columns" id="empresaProductos">
					<div class="panel">
						<ul class="large-block-grid-1 small-block-grid-3">

							<li  ng-click="showProductDetails(p)" ng-repeat="p in row1"><center><img ng-src="./ImagenesProductos/thumbs/{{p.thumb.imageName}}.png" /> </center></li>


						</ul>
					</div>
				</div>
			</div>