<div  class="hideX">
  <div id="title"><h2>Mi Portal</h2></div>
  <div id="section1Cont" >

    <div id="especialidadesOrbit" class="shadow">
      <div class="prevSlider">
        <span class="entypo-left-dir"></span>
      </div>
      <div class="nextSlider">
        <span class="entypo-right-dir"></span>
      </div>
      <div class="large-12">
        <div class="slideshow-wrapper">
          <div class="preloader"></div>
          <ul data-orbit>
            <li>
              <img src="img/slider1.jpg" alt="slide image" >         
            </li>
            <li>
              <img src="img/slider2.jpg" alt="slide image" >
            </li>
            <li>
              <img src="img/slider3.jpg" alt="slide image" >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<br>
<div class="row">
  <div class="large-3 columns panel">
    
    <div class="button large-12 btnMenu"  ng-click="setState('perfil')">Perfil</div>
    <div class="button large-12 btnMenu"  ng-click="setState('soporte')">Soporte Tecnico</div>
    <div class="button large-12 btnMenu"  ng-click="setState('cotizaciones')">Cotizaciones</div>
    <div class="button large-12 btnMenu"  ng-click="setState('compras')">Compras</div>

  </div>
  <div class="large-9 columns">
    <div class="panel">
      <div class="row">
        <div class="large-2 large-offset-10 columns black">
          <span>  <span class="entypo-user"></span> {{currentUser.username}}</span>
          <br>
        </div>
        <br>
      </div>
      <div class="row">
        <div ui-view class="large-12 columns">

        </div>
      </div>
    </div>
  </div>
</div>
